<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>

        <!-- вставляем блок из другой страницы, blocks/header - ссылка, header - название фрагемента -->
        <header th:insert="blocks/header" :: header/>

        <!-- для отображения с отступами сверху, для бутстрапа -->
        <div class="container mt-5">
            <h1 th:text="${title}"/>
        </div>

        <!-- вставляем блок из другой страницы, blocks/footer - ссылка, footer - название фрагемента -->
        <div th:insert="blocks/footer" :: footer/>

    </body>
</html>