<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Редактирование статьи</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
        <script th:href="@{/webjars/jquery/3.4.1/jquery.min.js} "></script>
    </head>
    <body>
        <!-- вставляем блок из другой страницы, blocks/header - ссылка, header - название фрагемента -->
        <header th:insert="blocks/header" :: header/>

        <!-- для отображения с отступами сверху, для бутстрапа -->
        <div class="container mt-5 mb-5">
            <h1>Редактирование статьи</h1>
            <!-- перебор элементов, mt-2 - отступ сверху -->
            <div th:each="el: ${post}">
                <form method="post">
                    <input type="text" th:value="${el.title}" name="title" placeholder="Введите название статьи" class="form-control"><br>
                    <input type="text" th:value="${el.anons}" name="anons" placeholder="Введите анонс статьи" class="form-control"><br>
                    <textarea name="fullText" placeholder="Введите полный текст статьи" class="form-control" th:text="${el.fullText}"/><br>
                    <!-- type="submit" - для автоматической перезагрузки -->
                    <button type="submit" class="btn btn-success">Обновить</button>
                </form>
            </div>
        </div>

        <!-- вставляем блок из другой страницы, blocks/footer - ссылка, footer - название фрагемента -->
        <div th:insert="blocks/footer" :: footer/>
    </body>
</html>