<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Блог сайта</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
        <script th:href="@{/webjars/jquery/3.4.1/jquery.min.js} "></script>
    </head>
    <body>

    <!-- вставляем блок из другой страницы, blocks/header - ссылка, header - название фрагемента -->
    <header th:insert="blocks/header" :: header/>

    <!-- для отображения с отступами сверху, для бутстрапа -->
    <div class="container mt-5">
        <!-- перебор элементов, mt-2 - отступ сверху -->
        <div th:each="el: ${post}" class="alert alert-info mt-2">
            <h1 th:text="${el.title}"/>
            <p th:text="${el.fullText}"/>
            <p><b>Просмотры:</b> <span th:text="${el.views}"/></p>
            <a th:href="'/blog/'+${el.id}+'/edit'" class="btn btn-warning">Редактировать</a><br><br>
            <form th:action="'/blog/'+${el.id}+'/remove'" method="post">
                <button class="btn btn-warning" type="submit">Удалить</button>
            </form>
        </div>
    </div>

    <!-- вставляем блок из другой страницы, blocks/footer - ссылка, footer - название фрагемента -->
    <div th:insert="blocks/footer" :: footer/>

    </body>
</html>