<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Блог сайта</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>

        <!-- вставляем блок из другой страницы, blocks/header - ссылка, header - название фрагемента -->
        <header th:insert="blocks/header" :: header/>

        <!-- для отображения с отступами сверху, для бутстрапа -->
        <div class="container mt-5">
            <h1>Блог сайта</h1>
            <a class="p-2 text-dark" href="/blog/add">Добавить статью</a>

            <!-- перебор элементов, mt-2 - отступ сверху -->
            <div th:each="el: ${posts}" class="alert alert-info mt-2">
                <h3 th:text="${el.title}"/>
                <p th:text="${el.anons}"/>
                <a th:href="'/blog/'+${el.id}" class="btn btn-warning">Детальнее</a>
            </div>
        </div>

        <!-- вставляем блок из другой страницы, blocks/footer - ссылка, footer - название фрагемента -->
        <div th:insert="blocks/footer" :: footer/>

    </body>
</html>