<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.4.1/jquery.min.js} "></script>
</head>
<body>
<!-- вставляем блок из другой страницы, blocks/header - ссылка, header - название фрагемента -->
<header th:insert="blocks/header" :: header/>

<!-- для отображения с отступами сверху, для бутстрапа -->
<div class="container mt-5 mb-5">
    <h1>Добавление статьи</h1>
    <form action="/blog/add" method="post">
        <input type="text" name="title" placeholder="Введите название статьи" class="form-control"><br>
        <input type="text" name="anons" placeholder="Введите анонс статьи" class="form-control"><br>
        <textarea name="fullText" placeholder="Введите полный текст статьи" class="form-control"></textarea><br>
        <!-- type="submit" - для автоматической перезагрузки -->
        <button type="submit" class="btn-btn-success">Добавить статью</button>
    </form>
</div>

<!-- вставляем блок из другой страницы, blocks/footer - ссылка, footer - название фрагемента -->
<div th:insert="blocks/footer" :: footer/>
</body>
</html>