<!-- подключаем как фрагмент, можно thymeleaf не указывать, он будет с основной страницы браться -->
<div th:fragment="footer">
    <!-- Взято: https://getbootstrap.com/docs/4.4/examples/album/ -->
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Сайт для показа функционала Spring boot, thymeleaf, hibernate, sqlite, mvc, bootstrap!</p>
            <p>Designed by Reznik Nikolay. Do you want also? Write to mail: reznikdeveloper@gmail.com.</p>
        </div>
    </footer>
</div>