<!-- подключаем как фрагмент, можно thymeleaf не указывать, он будет с основной страницы браться -->
<div th:fragment="header">
    <!-- Взято: https://getbootstrap.com/docs/4.4/examples/pricing/ -->
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Blog</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Главная</a>
            <a class="p-2 text-dark" href="/blog">Блог</a>
            <a class="p-2 text-dark" href="/about">Про нас</a>
        </nav>
    </div>
</div>